.denom-item {
  height: 50px;
  border: 1px solid #d4d2db;
  background-color: #585076;
  color: #d4d2db;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.denom-cont {
  width: 45%;
  list-style-type: none;
  margin: 10px;
}
